
{% block content %}
<div class="card-columns">

    {% for post in posts %}
{% if user.id == post.author.id%}
    <div class="card" style="height: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }} </h5>
            <p class="card-text">{{post.blog|slice:":200" }}</p>
            <div class="card-footer bg-transparent border-dark">

                <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>

                <center>
                    
                    <a href="#" class="btn btn-primary"> More &rarr;</a>
                    <a href=" update/{{post.id}}  " class="btn btn-warning" id='{{post.id}}'>edit</a>
                    <a href="delete/{{post.id}}" class="btn btn-danger" id='{{post.id}}'>delete</a>

                   
                </center>
                 {% endif%}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}