

    
{% extends 'base.html' %}

{% block content %}

{% load widget_tweaks %}
<div class="container">
    <div class="row align-items-center vh-100">
        <div class="col-6 mx-auto">
<div class="card d-flex flex-column align-items-center" style="width: 40rem;">
   
<h2>New post</h2>
<div class="form-group">
<form method="post" novalidate>
  {% csrf_token %}
current user ={{user.id}}
autho={{post.author.id}}
  {% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
  {% endfor %}

  {% for field in form.visible_fields %}
  <div class="form-group">
    {{ field.label_tag }}
    {% render_field field class="form-control" %}
    {% if field.help_text %}
    <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
  </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
</div>

</div>
</div>
</div>
</div>
